<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <title>{% block title %}{% endblock %} - Bull Market</title>
</head>
<body>
  <nav class='flex items-center justify-between py-6 px-20'>
    <div class='flex'>
      <img class="object-contain" src="https://img.icons8.com/metro/100/000000/bull.png"/>
      <div class='text-right'>
        <h2 style="font-size: 72px">Bull Market</h2>
        <p class="text-xl">Stock Trading Game</p>
      </div>
    </div>
    <div class="block md:hidden">
      <button class="flex items-center px-3 py-2">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
    </div>
    <div class="md:flex md:items-center md:w-auto">
      <ul class='flex items-center'>
        <li class="mr-16 uppercase"><a href="/">Portfolio</a></li>
        <li class="mr-16 uppercase"><a href="/history">History</a></li>
        <li class="mr-16 uppercase"><a href="trade" class="px-6 py-2 bg-orange-500 text-white rounded">Trade</a></li>
      </ul>
    </div>
  </nav>
  <div id='content'>
    {% block content %}{% endblock %}
  </div>
</body>
</html>