<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <title>Bull Market - Stock Trading Game</title>
</head>
<body>
  <div class="flex justify-center text-center py-20">
    <div class="max-w-xl">

      <div class='flex'>
        <img class="object-contain" src="https://img.icons8.com/metro/100/000000/bull.png"/>
        <div class='text-right'>
          <h2 style="font-size: 72px">Bull Market</h2>
          <p class="text-xl">Stock Trading Game</p>
        </div>
      </div>

      <div class="mt-12">
        <p>
          Practice trading stocks in this stock trading game!<br />
          Start with €20.000 and see how much you can make.
        </p>
      </div>

      <div id="username-form" class="mt-8">
        <p class="font-bold">Choose a username and start trading!</p>
        <form action='' class="mt-4">
          <input class="block w-full border-solid border-black border-2 rounded mb-8" />
          <button type="submit" class="bg-orange-500 text-white font-bold uppercase py-1 px-6 rounded">Start trading</button>
        </form>
      </div>

      <div id="sign-in-link" class="mt-12">
        <p>Already trading? <a href="/" class="text-orange-500 font-bold">Sign in!</a></p>
      </div>

    </div>
  </div>
</body>
</html>