{% extends "base.html" %}
{% set active = "history" %}
{% block content %}
  <div class="flex justify-center mt-8">
    <div class="">
      <table class="uppercase table-fixed">
        <tr height="66px">
          <th class="text-left px-4">Stock</th>
          <th class="text-left px-4">Type</th>
          <th class="text-right px-4">Timestamp</th>
          <th class="text-right px-4">Quantity</th>
          <th class="text-right px-4">Price/Stock</th>
          <th class="text-right px-4">Total value</th>
        </tr>
        {% if user.trades %}
          {% for trade in user.trades %}
            <tr height="40px">
              <td class="text-left px-4"><div><a href="{{ '/stocks/%s'%trade.stockCode }}">{{ trade.stockCode }}</a></div></td>
              <td class="text-left px-4">{{ trade.type }}</td>
              <td class="text-right px-4">{{ trade.timestamp.strftime("%b %d '%y %H:%M") }}</td>
              <td class="text-right px-4">{{ trade.quantity|round(2) }}</td>
              <td class="text-right px-4">$ {{ trade.price|round(2) }}</td>
              <td class="text-right px-4">$ {{ (trade.quantity * trade.price)|round(2) }}</td>
            </tr>
            {% endfor %}
          </table>
        {% else %}
          </table>
          <h5>You have not made any trades yet.</h5>
        {% endif %}
    </div>
  </div>
{% endblock %}