{% extends "base.html" %}
{% set active = "portfolio" %}
{% block content %}
  <div class="flex justify-center text-center mt-8">
    <div class="">
      <section id="portfolio-value" class="text-xl">
        <h5 class="uppercase">Current portfolio value</h5>

        <div class="mt-2">
          <span class="text-green-600 text-6xl font-bold">$ {{ (user.cash + value)|round(2) }}</span>
        </div>

        <div class="mt-4">
          <div class="h-10">
            {% if user.cash and user.valueAtLastTrade %}
              <h5>Changed <span class="text-green-600 font-bold">$ {{ user.cash - user.valueAtLastTrade }}</span> since last trade!</h5>
            {% endif %}
          </div>
          <h5 class="mt-4 ">You have currently made $ {{ (user.cash + value - 20000)|round(2) }}</h5>
        </div>
      </section>

      <section id="portfolio-overview" class="mt-12">
        <table class="uppercase table-fixed">
          <tr height="66px">
            <th class="text-left px-4">Stock</th>
            <th class="text-right px-4">Quantity</th>
            <th class="text-right px-4">Price/Stock</th>
            <th class="text-right px-4">Total value</th>
            <th></th>
          </tr>
          {% if user.portfolio %}
            {% for stock in user.portfolio %}
              <tr height="50px">
                <td class="text-left px-4">{{ stock.stockCode }}</td>
                <td class="text-right px-4">{{ stock.quantity }}</td>
                <td class="text-right px-4">$ {{ data[stock.stockCode]|round(2) }}</td>
                <td class="text-right px-4">$ {{ (stock.quantity * data[stock.stockCode])|round(2) }}</td>
                <td>
                  <div class="flex pl-6">
                    <a href="{{ '/sell/%s'%stock.stockCode }}" class="text-white uppercase text-center font-bold w-20 bg-blue-500 py-2 rounded-lg">Sell</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
              <tr height="80px">
                <td class="normal-case font-bold text-left">Available cash</td>
                <td></td>
                <td></td>
                <td class="font-bold text-right">{{ user.cash|round(2) }}</td>
              </tr>
            </table>
          {% else %}
            </table>
            <div class="mt-8 flex justify-center">
              <h5 class="text-grey-400">There are no stocks in your portfolio! Buy some to grow your portfolio value.</h5>
            </div>
          {% endif %}

      </section>
    </div>
  </div>
{% endblock %}