{% extends "base.html" %}
{% set active = "stocks" %}
{% block content %}
<div class="flex justify-center">
  <div style="max-width: 800px">
    <div class="flex justify-between mb-12">
        <div><div>Stock</div><div>{{ stock.stockCode }}</div></div>
        <div><div>Current price</div><div>{{ price }}</div></div>
    </div>
    <div class="mb-24"><p>{{ stock.description }}</p></div>
    <div id="comments">
      <h3 class="font-bold text-xl">Comments</h3>
      <div class="my-2">
        {% for comment in comments %}
          <div class="w-full">
            <div><p>{{ comment.username }}</p></div>
            <div class="flex justify-between">
              <div class="">
                {% if editing == comment._id %}
                  <form method="post">
                    <input name="edit" value="{{ comment.content }}" placeholder="Write a comment.." class="flex-grow border-b mr-6 px-3 border-black" />
                    <button type="submit" name="editing" value="{{ comment._id }}" class="text-gray-700 font-bold py-2 px-4 bg-gray-400 rounded">Update</button>
                  </form>
                {% else %}
                  <p>{{ comment.content }}</p>
                </div>
                <div>
                  {% if comment.username == session['username'] %}
                    <form method='post'>
                      <button type="submit" name="editing" value="{{ comment._id }}" class="rounded bg-yellow-500 text-white px-2 py-1 text-xs">Edit</button>
                      <button type="submit" name="delete" value="{{ comment._id }}" class="rounded bg-red-500 text-white px-2 py-1 text-xs">Delete</button>
                    </form>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <form method="post">
        <div class="flex">
          <input name="comment" placeholder="Write a comment.." class="flex-grow border-b mr-6 px-3 border-black" />
          <button type="submit" name="comment" class="text-gray-700 font-bold py-2 px-4 bg-gray-400 rounded">Comment</button>
        </div>
      </form>
      {{ formData }}
    </div>
  </div>
</div>
{% endblock %}