{% extends "base.html" %}
{% set active = "trade" %}
{% block content %}
<div id="current-cash" class="flex justify-center mt-8">
  <div class="justify-center">
    <div>
      <h5 class="text-center uppercase">Buy or sell stocks to increase the value of your portfolio!</h5>
    </div>
    <div class="flex w-auto justify-center items-end mt-4">
      <div class="text-4xl text-center uppercase font-light">Cash available</div>
      <div class="text-4xl text-center font-bold ml-8">€ {{ user.cash|round(2) }}</div>
    </div>
    <div id="stock-table" class="mt-12 flex justify-center">
      <table class="uppercase table-fixed">
        <tr height="66px">
          <th class="text-left px-4">Stock</th>
          <th class="text-right px-4"></th>
          <th class="text-right px-4">Price/Stock</th>
          <th class="w-24"></th>
        </tr>
        {% for stock in data %}
          <tr height="50px">
            <td class="text-left px-4">{{ stock }}</td>
            <td class="text-right px-4"></td>
            <td class="text-right px-4">$ {{ data[stock]|round(2) }}</td>
            <td class="">
              <div class="flex pl-6">
                <a href="{{ '/buy/%s'%stock }}" class="text-white text-center uppercase font-bold w-20 bg-orange-500 py-2 rounded-lg mr-3">Buy</a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}